<h1>Edit Outing</h1>>
<hr>

<div *ngIf="outing">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editOutingForm">
    <div>
      <div hidden>
        <mat-form-field>
          <input matInput placeholder="OutingEntityId" formControlName="OutingEntityId" required [value]="outing.outingEntityId"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="OutingName" formControlName="OutingName" required [value]="outing.outingName"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="OutingDescription" formControlName="OutingDescription" required [value]="outing.outingDescription"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="OutingLocation" formControlName="OutingLocation" required [value]="outing.outingLocation"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="OutingDate" formControlName="OutingDate" required [value]="outing.outingDate"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="OutingType" formControlName="OutingType" required [value]="outing.outingtype"/>
        </mat-form-field>
      </div>
      <div hidden>
        <mat-form-field>
          <input matInput placeholder="CreatedBy" formControlName="CreatedBy" required [value]="outing.createdBy"/>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<a mat-button routerLink="/outings">Back to List</a>