<h1>Edit Outing</h1>
<hr>

<div *ngIf="outing">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editOutingForm">
    <div>
      <div hidden>
        <mat-form-field>
          <input matInput placeholder="OutingEntityId" formControlName="outingEntityId" required ([value])="outing.outingEntityId"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="outingName" [value]="outing.outingName"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Description" formControlName="outingDescription" [value]="outing.outingDescription"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select placeholder="Location" formControlName="outingLocation" type="outingLocation" [value]="outing.outingLocation">
            <mat-option *ngFor="let selection of locationSelect" [value]="selection.value">
              {{selection.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput [matDatepicker]="outingDate" placeholder="Choose a date" formControlName="outingDate" [value]="outing.outingDate"/>
          <mat-datepicker-toggle matSuffix [for]="outingDate"></mat-datepicker-toggle>
          <mat-datepicker #outingDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select placeholder="Outing Type" formControlName="outingType" type="outingType" [value]="outing.outingType">
            <mat-option *ngFor="let selection of interestsSelect" [value]="selection.value">
              {{selection.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button class="nav-btn" color="primary" type="submit">Save</button>
  </form>
</div>
<a mat-button routerLink="/outings">Back to List</a>