<h1>Details</h1>

<hr>
<div *ngIf="Details">

  <div>
    <label for ="">OutingEntityId:</label>
    <span>{{outing.outingEntityId}}</span>
  </div>
  <div>
    <label for="">OutingName:</label>
    <span>{{outing.outingName}}</span>
  </div>
  <div>
    <label for="">OutingDescription:</label>
    <span>{{outing.outingDescription}}</span>
  </div>
  <div></div>
  <div>
    <label for="">OutingDate:</label>
    <span>{{outing.outingDate</span>
    </div>
    <div>
      <label for="">OutingType:</label>
      <span>{{outing.outingType}}</span>
    </div>
  </div>

<button mat-button color ="accent">Edit</button>
<button mat-button color ="primary" routerLink="/outings">Back to List</button>