<mat-toolbar color="primary">
  <span>Easy Outings</span>
  <button mat-button routerLink="outings" *ngIf="isLoggedIn">Outings</button>
  <span class="example-fill-remaining-space"></span>
  <div *ngIf="isLoggedIn; else auth">
    <span>Welcome {{username}}</span>
    <button mat-raised-button class="nav-btn" (click)="onLogout()">Logout</button>
  </div>
  <ng-template #auth>
    <button mat-raised-button class="nav-btn" routerLink="register">Register</button>
    <button mat-raised-button class="nav-btn" routerLink="login">Login</button>
    <button mat-raised-button class="nav-btn" (click)="onLogout()">Logout</button>
  </ng-template>
</mat-toolbar>