<h1>Delete</h1>
<h4>Are you sure you want to delete this?</h4>

<div *ngIf="interests">

  <div>
      <h4>Outdoors & Adventure</h4>
    <label for="">Canoeing</label>
    <span>{{outing.canoeing}}</span>
  </div>
  <div>
    <label for="">Kayaking</label>
    <span>{{outing.kayaking}}</span>
  </div>
  <div>
    <label for="">Hiking</label>
    <span>{{outing.hiking}}</span>
  </div>
  <div>
    <label for="">RockClimbing</label>
    <span>{{outing.rockClimbing}}</span>
  </div>
  <div>
    <label for="">Camping</label>
    <span>{{outing.camping}}</span>
  </div>
  <div>
    <label for="">Fishing</label>
    <span>{{outing.fishing}}</span>
  </div>
  <div>
    <label for="">SightSeeing</label>
    <span>{{outing.sightSeeing}}</span>
  </div>
  <h4>Sports</h4>
  <div>
    <label for="">Football</label>
    <span>{{outing.football}}</span>
  </div>
  <div>
    <label for="">Basketball</label>
    <span>{{outing.basketball}}</span>
  </div>
  <div>
    <label for="">Soccer</label>
    <span>{{outing.soccer}}</span>
  </div>
  <div>
    <label for="">Baseball</label>
    <span>{{outing.baseball}}</span>
  </div>
  <div>
    <label for="">Hockey</label>
    <span>{{outing.hockey}}</span>
  </div>
  <div>
    <label for="">Tennis</label>
    <span>{{outing.tennis}}</span>
  </div>
  <div>
    <label for="">Golf</label>
    <span>{{outing.golf}}</span>
  </div>
  <h4>Fitness</h4>
  <div>
    <label for="">Running</label>
    <span>{{outing.running}}</span>
  </div>
  <div>
    <label for="">WeightLifting</label>
    <span>{{outing.weightLifting}}</span>
  </div>
  <div>
    <label for="">Yoga</label>
    <span>{{outing.yoga}}</span>
  </div>
  <div>
    <label for="">Gymnastics</label>
    <span>{{outing.gymnastics}}</span>
  </div>
  <h4>Food & Drink</h4>
  <div>
    <label for="">Restaurants</label>
    <span>{{outing.restaurants}}</span>
  </div>
  <div>
    <label for="">Bars</label>
    <span>{{outing.bars}}</span>
  </div>
  <div>
    <label for="">Wineries</label>
    <span>{{outing.wineries}}</span>
  </div>
  <h4>Gaming</h4>
  <div>
    <label for="">Consoles</label>
    <span>{{outing.consoles}}</span>
  </div>
  <div>
    <label for="">BoardGames</label>
    <span>{{outing.boardGames}}</span>
  </div>
  <div>
    <label for="">CardGames</label>
    <span>{{outing.cardGames}}</span>
  </div>
  <div>
    <label for="">Arcades</label>
    <span>{{outing.arcades}}</span>
  </div>
  <h4>Media</h4>
  <div>
    <label for="">Movies</label>
    <span>{{outing.movies}}</span>
  </div>
  <div>
    <label for="">Theatre</label>
    <span>{{outing.theatre}}</span>
  </div>
  <div>
    <label for="">Concerts</label>
    <span>{{outing.concerts}}</span>
  </div>
  <div>
    <label for="">Festivals</label>
    <span>{{outing.festivals}}</span>
  </div>
  <h4>Social</h4>
  <div>
    <label for="">Clubs</label>
    <span>{{outing.clubs}}</span>
  </div>
  <div>
    <label for="">Bowling</label>
    <span>{{outing.bowling}}</span>
  </div>
  <div>
    <label for="">Zoo</label>
    <span>{{outing.zoo}}</span>
  </div>
  <h4>Craft</h4>
  <div>
    <label for="">Painting</label>
    <span>{{outing.painting}}</span>
  </div>
  <div>
    <label for="">Knitting</label>
    <span>{{outing.knitting}}</span>
  </div>
  <div>
    <label for="">Pottery</label>
    <span>{{outing.pottery}}</span>
  </div>
  <h4>Culture</h4>
  <div>
    <label for="">Museums</label>
    <span>{{outing.museums}}</span>
  </div>
  <div>
    <label for="">Aquariums</label>
    <span>{{outing.aquariums}}</span>
  </div>
  <div>
    <label for="">Galleries</label>
    <span>{{outing.galleries}}</span>
  </div>
</div>
<button mat-button color="primary" routerLink="/interests/delete/{{interests.ownerId}}">Delete</button>
<button mat-button color="primary" routerLink="/interests">Back to List</button>