<h1>Edit</h1>
<hr>

<div *ngIf="interests">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editInterestsForm">
    <div>
      <div hidden>
        <mat-form-field>
          <input matInput placeholder="interestsEntityId" formControlName="interestsEntityId" type="interetsEntityId" required [value]="interests.interestsEntityId"/>
        </mat-form-field>
      </div>
      
      <div>
        <mat-form-field>
          <input matInput placeholder="Location" formControlName="userLocation" type="userLocation" required [value]="interests.userLocation"/>
        </mat-form-field>
      </div>
      
    </div>
  </form>
</div>