<h1>Edit</h1>
<hr>

<div *ngIf="interests">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editInterestsForm">
    <div>
      <div hidden>
        <mat-form-field>
          <input matInput placeholder="Owner" formControlName="ownerId" type="ownerId" required [value]="interests.ownerId"/>
        </mat-form-field>
      </div>

      <div hidden>
        <mat-form-field>
          <input matInput placeholder="Id" formControlName="interestsEntityId" type="interestsEntityId" required [value]="interests.interestsEntityId"/>
        </mat-form-field>
      </div>
      
      <div>
        <mat-form-field>
          <mat-select placeholder="Location" formControlName="userLocation" type="userLocation" [value]="interests.userLocation">
            <mat-option *ngFor="let selection of locationSelect" [value]="selection.value">
              {{selection.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

        <h4>Outdoors & Adventure</h4>
        <mat-checkbox formControlName="canoeing">Canoeing</mat-checkbox>
        <br>
        <mat-checkbox formControlName="kayaking">Kayaking</mat-checkbox>
        <br>
        <mat-checkbox formControlName="hiking">Hiking</mat-checkbox>
        <br>
        <mat-checkbox formControlName="rockClimbing">RockClimbing</mat-checkbox>
        <br>
        <mat-checkbox formControlName="camping">Camping</mat-checkbox>
        <br>
        <mat-checkbox formControlName="fishing">Fishing</mat-checkbox>
        <br>
        <mat-checkbox formControlName="sightSeeing">SightSeeing</mat-checkbox>
        <br>
        <h4>Sports</h4>
        <mat-checkbox formControlName="football">Football</mat-checkbox>
        <br>
        <mat-checkbox formControlName="basketball">Basketball</mat-checkbox>
        <br>
        <mat-checkbox formControlName="soccer">Soccer</mat-checkbox>
        <br>
        <mat-checkbox formControlName="baseball">Baseball</mat-checkbox>
        <br>
        <mat-checkbox formControlName="hockey">Hockey</mat-checkbox>
        <br>
        <mat-checkbox formControlName="tennis">Tennis</mat-checkbox>
        <br>
        <mat-checkbox formControlName="golf">Golf</mat-checkbox>
        <br>
        <h4>Fitness</h4>
        <mat-checkbox formControlName="running">Running</mat-checkbox>
        <br>
        <mat-checkbox formControlName="weightLifting">WeightLifting</mat-checkbox>
        <br>
        <mat-checkbox formControlName="yoga">Yoga</mat-checkbox>
        <br>
        <mat-checkbox formControlName="gymnastics">Gymnastics</mat-checkbox>
        <br>
        <h4>Food & Drink</h4>
        <mat-checkbox formControlName="restaurants">Restaurants</mat-checkbox>
        <br>
        <mat-checkbox formControlName="bars">Bars</mat-checkbox>
        <br>
        <mat-checkbox formControlName="wineries">Wineries</mat-checkbox>
        <br>
        <h4>Gaming</h4>
        <mat-checkbox formControlName="consoles">Consoles</mat-checkbox>
        <br>
        <mat-checkbox formControlName="boardGames">BoardGames</mat-checkbox>
        <br>
        <mat-checkbox formControlName="cardGames">CardGames</mat-checkbox>
        <br>
        <mat-checkbox formControlName="arcades">Arcades</mat-checkbox>
        <br>
        <h4>Media</h4>
        <mat-checkbox formControlName="movies">Movies</mat-checkbox>
        <br>
        <mat-checkbox formControlName="theatre">Theatre</mat-checkbox>
        <br>
        <mat-checkbox formControlName="concerts">Concerts</mat-checkbox>
        <br>
        <mat-checkbox formControlName="festivals">Festivals</mat-checkbox>
        <br>
        <h4>Social</h4>
        <mat-checkbox formControlName="clubs">Clubs</mat-checkbox>
        <br>
        <mat-checkbox formControlName="bowling">Bowling</mat-checkbox>
        <br>
        <mat-checkbox formControlName="zoo">Zoo</mat-checkbox>
        <br>
        <h4>Craft</h4>
        <mat-checkbox formControlName="painting">Painting</mat-checkbox>
        <br>
        <mat-checkbox formControlName="knitting">Knitting</mat-checkbox>
        <br>
        <mat-checkbox formControlName="pottery">Pottery</mat-checkbox>
        <br>
        <h4>Culture</h4>
        <mat-checkbox formControlName="museums">Museums</mat-checkbox>
        <br>
        <mat-checkbox formControlName="aquariums">Aquariums</mat-checkbox>
        <br>
        <mat-checkbox formControlName="galleries">Galleries</mat-checkbox>
        <hr>
      </div>
      <button mat-raised-button class="nav-btn" color="primary" type="submit">Update Information</button>
    </form>
  </div>
  <a mat-button routerLink="/interests">Back to List</a>
      