<h1>Outings</h1>
<hr>
<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

    <ng-container matColumnDef="outingEntityId">
      <mat-header-cell *matHeaderCellDef>Outing ID#</mat-header-cell>
      <mat-cell *matCellDef="let outing">{{outing.outingEntityId}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="outingName">
      <mat-header-cell *matHeaderCellDef>Outing Name</mat-header-cell>
      <mat-cell *matCellDef="let outing">{{outing.outingName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="outingDate">
      <mat-header-cell *matHeaderCellDef>Outing Date</mat-header-cell>
      <mat-cell *matCellDef="let outing">{{outing.outingDate | date: 'longDate'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="outingLocation">
      <mat-header-cell *matHeaderCellDef>Location</mat-header-cell>
      <mat-cell *matCellDef="let outing">{{outing.outingLocation}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="outingType">
      <mat-header-cell *matHeaderCellDef>Outing Type</mat-header-cell>
      <mat-cell *matCellDef="let outing">{{outing.outingType}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateCreated">
      <mat-header-cell *matHeaderCellDef>Date Created</mat-header-cell>
      <mat-cell *matCellDef="let outing">{{outing.createdOn | date: 'longDate'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let outing">
        <i mat-icon class="material-icons" routerLink="/admin/outingsdelete/{{outing.outingEntityId}}">delete</i>
      </mat-cell>
    </ng-container>
  </mat-table>
</div>