<h1>Add an Interest</h1>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="interestForm">
  <div>

    <div>
      <mat-form-field>
        <mat-select placeholder="Location" formControlName="userLocation" type="userLocation" required>
          <mat-option *ngFor="let selection of locationSelect" [value]="selection.value">
            {{selection.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="../../../../assets/img/outdoors.jpeg" width="280em" height="260em" alt="img">
          <div class="container">
            <h3><b>Outdoors & Adventure</b></h3>
            <mat-checkbox formControlName="canoeing">Canoeing</mat-checkbox>
            <br>
            <mat-checkbox formControlName="kayaking">Kayaking</mat-checkbox>
            <br>
            <mat-checkbox formControlName="hiking">Hiking</mat-checkbox>
            <br>
            <mat-checkbox formControlName="rockClimbing">RockClimbing</mat-checkbox>
            <br>
            <mat-checkbox formControlName="camping">Camping</mat-checkbox>
            <br>
            <mat-checkbox formControlName="fishing">Fishing</mat-checkbox>
            <br>
            <mat-checkbox formControlName="sightSeeing">SightSeeing</mat-checkbox>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="../../../../assets/img/sports.jpeg" alt="img" width="280em" height="260em">
          <div class="container">
            <h3><b>Sports</b></h3>
            <mat-checkbox formControlName="football">Football</mat-checkbox>
            <br>
            <mat-checkbox formControlName="basketball">Basketball</mat-checkbox>
            <br>
            <mat-checkbox formControlName="soccer">Soccer</mat-checkbox>
            <br>
            <mat-checkbox formControlName="baseball">Baseball</mat-checkbox>
            <br>
            <mat-checkbox formControlName="hockey">Hockey</mat-checkbox>
            <br>
            <mat-checkbox formControlName="tennis">Tennis</mat-checkbox>
            <br>
            <mat-checkbox formControlName="golf">Golf</mat-checkbox>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="../../../../assets/img/fitness.jpeg" alt="img" width="280em" height="260em">
        <div class="container">
          <h3><b>Fitness</b></h3>
          
          <mat-checkbox formControlName="running">Running</mat-checkbox>
          <br>
          <mat-checkbox formControlName="weightLifting">WeightLifting</mat-checkbox>
          <br>
          <mat-checkbox formControlName="yoga">Yoga</mat-checkbox>
          <br>
          <mat-checkbox formControlName="gymnastics">Gymnastics</mat-checkbox>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="../../../../assets/img/foodanddrink.jpeg" alt="img" width="280em" height="260em">
        <div class="container">
          <h3><b>Food & Drinks</b></h3>
          <mat-checkbox formControlName="restaurants">Restaurants</mat-checkbox>
          <br>
          <mat-checkbox formControlName="bars">Bars</mat-checkbox>
          <br>
          <mat-checkbox formControlName="wineries">Wineries</mat-checkbox>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="../../../../assets/img/gaming.jpg" alt="img" width="280em" height="260em">
        <div class="container">
          <h3><b>Gaming</b></h3>
          <mat-checkbox formControlName="consoles">Consoles</mat-checkbox>
          <br>
          <mat-checkbox formControlName="boardGames">BoardGames</mat-checkbox>
          <br>
          <mat-checkbox formControlName="cardGames">CardGames</mat-checkbox>
          <br>
          <mat-checkbox formControlName="arcades">Arcades</mat-checkbox>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="../../../../assets/img/festival.jpeg" alt="img" width="280em" height="260em">
        <div class="container">
          <h3><b>Media</b></h3>
          <mat-checkbox formControlName="movies">Movies</mat-checkbox>
          <br>
          <mat-checkbox formControlName="theatre">Theatre</mat-checkbox>
          <br>
          <mat-checkbox formControlName="concerts">Concerts</mat-checkbox>
          <br>
          <mat-checkbox formControlName="festivals">Festivals</mat-checkbox>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="../../../../assets/img/social.jpeg" alt="img" width="280em" height="260em">
        <div class="container">
          <h3><b>Social</b></h3>
          <mat-checkbox formControlName="clubs">Clubs</mat-checkbox>
          <br>
          <mat-checkbox formControlName="bowling">Bowling</mat-checkbox>
          <br>
          <mat-checkbox formControlName="zoo">Zoo</mat-checkbox>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="../../../../assets/img/craft.jpeg" alt="img" width="280em" height="260em">
        <div class="container">
          <h3><b>Craft</b></h3>
          <mat-checkbox formControlName="painting">Painting</mat-checkbox>
          <br>
          <mat-checkbox formControlName="knitting">Knitting</mat-checkbox>
          <br>
          <mat-checkbox formControlName="pottery">Pottery</mat-checkbox>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="../../../../assets/img/galleries.jpg" alt="img" width="280em" height="260em">
        <div class="container">
          <h3><b>Culture</b></h3>
          <mat-checkbox formControlName="museums">Museums</mat-checkbox>
          <br>
          <mat-checkbox formControlName="aquariums">Aquariums</mat-checkbox>
          <br>
          <mat-checkbox formControlName="galleries">Galleries</mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</div>
    <hr>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Interest</button>
</form>
<a mat-button routerLink="/interests">Back to List</a>