<h1>Create an Outing</h1>

<hr>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="outingForm">
  <div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="OutingName" type="OutingName" required/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Description" formControlName="OutingDescription" type="OutingDescription" required/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Location" formControlName="OutingLocation" type="OutingLocation" required/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="OutingDate" placeholder="Choose a date" formControlName="OutingDate" type="OutingDate" required/>
      <mat-datepicker-toggle matSuffix [for]="OutingDate"></mat-datepicker-toggle>
      <mat-datepicker #OutingDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select placeholder="Outing Type" formControlName="OutingType" type="OutingType" required>
        <mat-option *ngFor="let selection of interestsSelect" [value]="selection.value">
          {{selection.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
      <mat-form-field>
          <input matInput placeholder="Created By" formControlName="CreatedBy" type="CreatedBy" required/>
        </mat-form-field>
  </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Outing</button>
</form>

<a mat-button routerLink="/outings">Back to List</a>
