<h1>Create an Outing</h1>

<hr>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="outingForm">
  <div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="outingName" type="outingName" required/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Description" formControlName="outingDescription" type="outingDescription" required/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select placeholder="Location" formControlName="outingLocation" type="outingLocation" required>
        <mat-option *ngFor="let selection of locationSelect" [value]="selection.value">
          {{selection.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="outingDate" placeholder="Choose a date" formControlName="outingDate" type="outingDate" required/>
      <mat-datepicker-toggle matSuffix [for]="outingDate"></mat-datepicker-toggle>
      <mat-datepicker #outingDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select placeholder="Outing Type" formControlName="outingType" type="outingType" required>
        <mat-option *ngFor="let selection of interestsSelect" [value]="selection.value">
          {{selection.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Outing</button>
</form>

<a mat-button routerLink="/outings">Back to List</a>
